#footer {
    background-color: #222;
}

#footerLogo {
    height: 200px;
    padding: 20px;
}

@media screen and (max-width: 800px) {
    #footerLogo {
    display: block;
    margin: auto;
   }
}

#footerName {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    color: white;
}